// primary colors
$color-primary-darkViolet: hsl(256, 26%, 20%);
$color-primary-grayishBlue: hsl(216, 30%, 68%);

// secondary colors
$color-secondary-veryDarkViolet: hsl(270, 9%, 17%);
$color-secondary-darkGrayishViolet: hsl(273, 4%, 51%);
$color-secondary-veryLightGray: hsl(0, 0%, 98%);
