.navbar {

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: min(37.5rem, 100%);
}

// contains the actual navigation items --> about &contact;
.navList {
}
// hamburger icon and hamburger menu styling;
.hamburger {
}
