body {
	color: $color-secondary-veryDarkViolet;
	font-family: 'Karla', sans-serif;
	font-size: 1.6rem;
	font-weight: 200;
	line-height: 1.6;
}

.headingH1 {
	font-family: 'DM Serif Display', serif;
	font-size: 4.5rem;
	font-weight: 400;
	line-height: 1;

	@include respond(tab-port) {
		font-size: clamp(3.15rem, 6vw, 4.5rem);
	}
}

.headingH2 {
	font-family: 'DM Serif Display', serif;
	font-size: 4.5rem;
	font-weight: 700;
	line-height: 1;
}

// .headingH3 {
// 	font-family: 'DM Serif Display', serif;
// 	font-size: 3rem;
// 	font-weight: 700;
// }

.paragraph {
	
} 

.btn {
 	color: inherit;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-weight: 100;
}

.navbar {

}

.header__content-container {
	color: $color-secondary-veryLightGray;
	text-align: center;

	@include respond(tab-port) {
		text-align: start;
	}
}

.main__companyWorkProcess {
	color: $color-secondary-veryLightGray;
	text-align: center;

	h2 {
		font-size: 4rem;
		font-weight: 400;
	}
}


.footer {
	
	font-weight: 400;
	text-align: center;
	text-transform: uppercase;
	// h3, li {
	// 	font-size: 1.3rem;
	// }

	h3 {
		color: $color-secondary-darkGrayishViolet;
		font-size: 1.5rem;
	}

	li {
		color: $color-primary-darkViolet;
		font-size: 1.4rem;
		font-weight: 700;
	}
}
