body {
	color: $color-font-white;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	line-height: 1.6;
}


.header {

	&__heading {
		
	}
	
	.heading__primary--main {
		
	}
	.heading__primary--sub {
		
	}

	&__paragraph {
		
	}
}

// topography of paragraph;
.paragraph {
	
}

// topography of navbar;
.navbar {
}

// topography of hamburger menu;
.hamburger {
}

// topography of buttons;
.btn {
}

// topography of about-section;
.header {
}

// topography of about-section;
.about {
}

// topography of contact-section;
.contact {
}

// topography of footer-section;
.footer {
}
