body {
	color: $color-secondary-veryDarkViolet;
	font-family: 'Karla', sans-serif;
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 1.6;
}


.heading {
	font-family: 'DM Serif Display', serif;
}

.paragraph {
	
} 

.button {

}

.navbar {

}

.header {

}

.footer {

}
