// center text
.u-center-text {
	text-align: center;
}

// bottom margins
.u-margin-bottom-xtrasmall {
	margin-bottom: .5rem;
}

.u-margin-bottom-small {
	margin-bottom: 1rem;
}

.u-margin-bottom-medium {
	margin-bottom: 3rem;
}

.u-margin-bottom-large {
	margin-bottom: 5rem;
}

.u-margin-bottom-xtralarge {
	margin-bottom: 7rem;
}

// top margins
.u-margin-top-xtrasmall {
	margin-top: .5rem;
}

.u-margin-top-small {
	margin-top: 1rem;
}

.u-margin-top-medium {
	margin-top: 3rem;
}

.u-margin-top-large {
	margin-top: 5rem;
}

.u-margin-top-xtralarge {
	margin-top: 7rem;
}

// display
.u-display-none {
	display: none;
}

.u-display-block {
	display: block;
}

