.header {
	
	min-width: 37.5rem;
	margin: 0 auto;

	@include respond(tab-port) {
		position: relative;
	}
	
	&__navbar {
		padding: 2rem;
	}

	&__image-container {

	}

	&__hero-image {
		display: block;
		width: 100%;
		height: auto;
		margin: 0 auto;
	}

	&__content-container {

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		padding: 9rem 3rem;

		position: relative;

		h1 {
			padding-bottom: 2rem;
		}

		p {
			padding: 0 .6rem;
			padding-bottom: 3rem;
		}
	}

	&__content-container::before {
		
		content: "";		
		background-image: url("../images/bg-pattern-intro-left-mobile.svg");
		background-color: $color-primary-darkViolet;
		background-repeat: no-repeat;
		background-size: 45%;
		background-position: left top;
		
		width: 100%;
		height: 100%;

		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		z-index: -10;
	}

	&__content-container::after {
		
		content: "";
		background-image: url("../images/bg-pattern-intro-right-mobile.svg");
		background-repeat: no-repeat;
		background-size: 33%;
		background-position: right 37rem;
		
		width: 100%;
		height: 100rem;

		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		z-index: 10;
	}

	@include respond(tab-port) {
		
		&__image-container {

			width: 19rem;

			position: absolute;
			top: 17rem;
			right: 3rem;

			z-index: 20;
		}

		&__hero-image {
		

			width: 100%;
			height: auto;
		}
		
		&__content-container {

			align-items: flex-start;
			width: 100%;
			padding-right: 25rem;

			p {
				padding: 0 0 3rem;

			}
		}

		&__content-container::before {
		
		background-size: 20%;
		
		width: 100%;
		height: 100%;
		}

	&__content-container::after {
		
		background-size: 15%;
				
		width: 100%;
		height: 100rem;
		}
	}

	@include respond(tab-land) {
	
		&__image-container {

			width: 27rem;

			position: absolute;
			top: 12rem;
			right: 7rem;
		}

		&__hero-image {
		
			height: 150%;
		}
		
		&__content-container {

			padding: 5rem 35rem 5rem 7rem;
		}

		h1 {
			padding-top: 5rem;
			padding-bottom: 1rem;
		}

		p {
			padding-bottom: 2rem;
		}
	}
}

.main {

	text-align: center;
	margin-top: 13rem;

	&__companyQualitiesSection {
		
		min-width: 375px;
		margin: 0 auto;

		hr {
			width: 17rem;
			margin: 0 auto;
		}
	
		h2 {
			margin: 5rem 0 6rem;
		}
	}

	&__companyWorkProcess {
		
		background-image: url("../images/bg-pattern-how-we-work-mobile.svg");
		background-color: $color-primary-darkViolet;
		background-repeat: no-repeat;
		background-size: 45%;
		background-position: right top;
		
		min-width: 375px;
		padding: 7rem 2rem;
		margin: 0 auto;
		margin-top: 15rem;

		h2 {
			margin-bottom: 4rem;
		}

		button {
		
		}
	}
}


.footer {
	
	min-width: 37.5rem;
	margin: 0 auto;
	margin-top: 13rem;

	&__brandAndMedia-container {
		
		background-image: url("../images/bg-pattern-footer-mobile.svg");
		//background-color: $color-secondary-darkGrayishViolet;
		background-repeat: no-repeat;
		background-size: 100%;
		background-position: right top;
		
		padding-top: 10rem;
	}

	&__brand, &__social-media {
	
		margin-bottom: 2rem;
	}

	&__social-media-icon {

		margin: 0 .7rem;
	}

	hr {
		width: 60%;
		margin: 0 auto 2rem;
	}

	&__section-container {
		margin-bottom: 4rem;
	}

	h3 {
		margin-bottom: 1rem;
	}

	li {
		margin-bottom: .5rem;
	}
}